body>div {
    position: relative;
}

body>div>video {
    display: block;
    width: 100%;
    max-height: 100vh;
}

body>div>.tool-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, var(--color-bg), 75%, transparent);
    padding: var(--length-gap);
}

body>div>.tool-bar>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--length-gap);
}

body>div>.tool-bar>div>.number-bar {
    flex-grow: 1;
}

body>div>.tool-bar>div>.number-bar.time:before {
    display: none;
}