.root[data-color-scheme=dark] {
    --color-text: #cccccc;
    --color-light: #8f8f8f;
    --color-string: #df9e61;
    --color-number: #B5CEA8;
    --color-keyword: #cc80c6;
    --color-function: #DCDCAA;
    --color-variable: #6ec0ec;
    --color-modifier: #3074ac;
    --color-class: #4EC9B0;
    --color-warn: #F44747;
    --color-comment: #6A9955;
    --color-border: #2e3133;
    --color-bg: #131313;
    --color-area: #161616;
    --color-pre: #191b1d;
    --color-slice: rgba(88, 88, 88, 0.5);
    --color-selection: rgba(95, 144, 163, 0.5);
    --color-span: rgba(58, 61, 65, 0.5);
}

.root[data-color-scheme=dark] .dark{
    filter: brightness(.5);
}

.root[data-color-scheme=dark] .invert{
    filter: invert(.9147982) brightness(.8745098);
}

@media (prefers-color-scheme: dark) {
    .root:not([data-color-scheme=light]) {
        --color-text: #cccccc;
        --color-light: #8f8f8f;
        --color-string: #df9e61;
        --color-number: #B5CEA8;
        --color-keyword: #cc80c6;
        --color-function: #DCDCAA;
        --color-variable: #6ec0ec;
        --color-modifier: #3074ac;
        --color-class: #4EC9B0;
        --color-warn: #F44747;
        --color-comment: #6A9955;
        --color-border: #2e3133;
        --color-bg: #131313;
        --color-area: #161616;
        --color-pre: #191b1d;
        --color-slice: rgba(88, 88, 88, 0.5);
        --color-selection: rgba(95, 144, 163, 0.5);
        --color-span: rgba(58, 61, 65, 0.5);
    }

    .root:not([data-color-scheme=light]) .dark{
        filter: brightness(.5);
    }

    .root:not([data-color-scheme=light]) .invert{
        filter: invert(.9147982) brightness(.8745098);
    }
}