@import url(icons/main.css);

.unit.player {
    position: relative;
}

.unit.player>video {
    display: block;
    max-height: 100vh;
    width: 100%;
}

.unit.player>div {
    background: linear-gradient(to top, var(--color-bg), 75%, transparent);
    bottom: 0;
    font-size: var(--length-font-log);
    left: 0;
    padding: var(--length-gap);
    position: absolute;
    right: 0;
}

.unit.player>div>div {
    align-items: center;
    display: flex;
    gap: var(--length-gap);
}

.unit.player>div>div>.rate-bar {
    border-radius: 3px;
    flex-grow: 1;
    height: 6px;
}

.unit.player.error::before,
.unit.player.loading::before {
    background: var(--color-warn);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
}

.unit.player.loading::before {
    background: var(--color-string);
}